<div class="categories stuff">
<img class="small_logo" src="/fist.png" />
  <%@categories.each do |category|%>
    <a href="/categories/<%=category.id%>">
      <h4 class="category_link"><%=category.name%></h4>
    </a>
  <%end%>
</div>