<img class="logo" src="/fist.png" />
<h1 class="headline">SolidariGif</h1>

<div id="login_form">
  <form class="login_signup" action="/login" method="POST">
    <input class="string" type="text" name="user[username]" placeholder="Username"><br>
    <input class="string" type="password" name="user[password]" placeholder="Password">
    <input class="btn intro" type="submit">
  </form>
</div>