<img class="logo" src="/fist.png" />
<h1 class="headline">SolidariGif</h1>

<div id="signup_form">
  <form class="login_signup" action="/signup" method="POST">
    <input class="string" type="text" name="user[username]" placeholder="Username"><br>
    <textarea class="string" name="user[about]" placeholder="About"></textarea>
    <br>
    <input class="string" type="text" name="user[url]" placeholder="Image URL">
    <br>
    <input class="string" type="password" name="user[password]" placeholder="Password">
    <br>
    <input class="string" type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
    <br>
    <input class="btn" type="submit">
  </form>
</div>