<div id="signup_form">
  <form action="/signup" method="POST">
    <input type="text" name="user[username]" placeholder="Username"><br>
    <textarea name="user[about]" placeholder="About"></textarea>
    <br>
    <input type="text" name="user[url]" placeholder="Image URL">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
    <br>
    <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
    <br>
    <input type="submit">
  </form>
</div>