#content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 37em;
  position: relative;
  width: 75%;
  margin-bottom: 100px;
}

a {
  color: rgb(213,213,213);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

a:hover {
}

.inner_img {
    width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 72px;
  background-color: #FFF;
}

.inline-nav {
  display: inline-block;
}

.home_link h1 {
  margin-left: 100px;
  color: rgb(233,42,58);
  line-height: 20px;
  font-family: 'Pacifico', cursive;
}

#login-toolbar {
  text-transform: uppercase;
  font-size: 17.5px;
}

.nav_bar_link {
  padding-left: 50px;
}

.logo {
  -webkit-filter: invert(100%) !important;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.headline {
  line-height: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: #FFF;
  text-align: center;
  margin-bottom: 75px;
}

.string {
  width: 95%;
  background: none;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  background: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  height: 150px;
}

.btn {
  background: none;
  text-decoration: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  border-radius: none;
  background-color: rgb(233,42,58);
  border-radius: 0;
  padding: 20px 30px 20px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  background: rgb(235,234,230);
  font-family: 'Lato', sans-serif;
}

.stuff {
  margin-top: 150px;
}

.category_link {
  background-color: #FFF;
  padding: 25px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.small_logo {
  -webkit-filter: invert(100%) !important;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gif {
  background-color: #FFF;
  padding: 25px;
  margin-top: 25px;
}

.gif_caption {
  border-bottom: 1.5px solid #E5E5E5;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  font-size: 20px;
  color: #999;
}

.lil_button {
  width: 75px;
  text-align: center;
  padding-top
}

.padding {
  margin-top: 25px;
}

form {

}

.padding_more {
  margin-top: 150px;
}