<div class="stuff">
<div id="gif_new">
  <form action="/gifs" method="POST">
    <input type="hidden" name="gif[user_id]" value="<%= @user_id %>">
    <input type="hidden" name="gif[category_id]" value="<%= @category_id %>">

    <input class="string" type="text" name="gif[url]" placeholder="url">
    <br>
    <textarea class="string" name="gif[caption]" placeholder="caption"></textarea>
    <br>
    <input class="btn" type="submit">
  </form>
</div>
</div>