<div class="stuff">
<div class="edit_user_form">
  <form action="/users/<%= @user.id %>" method="POST" class="edit_user">
    <input type="hidden" name="_method" value="PUT">
    <textarea class="string" name="user[about]"><%= @user.about %></textarea>
    <br>
    <input class="string" type="text" name="user[url]" value="<%= @user.url %>">
    <br>
    <input class="btn padding" type="submit" value="Update">
  </form>

  <form action="/users/<%= @user.id %>" method="POST" class="user_delete">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn padding" type="submit" value="Delete">
  </form>
</div>
</div>